

button {    
    background: #09F;
    color: #FFF;
    border: 0;
    padding: 4px 8px;
    font-size: 18px;
    cursor: pointer;
}


div {
    display: flex;
    gap: 8px 16px;
}

body {
    background: #222;
}